:root{
  --neon-violet: #ff00e9;
  --violet: #d000be;
  --dark-grey: rgb(10,10,10);
  --grey: rgb(30,30,30);
  --light-grey: rgb(60,60,60);
  --dark-white: rgb(200,200,200);
  --white-violet: rgb(255,150,233);
  --white-violet-overlay: rgba(255, 150, 233, 0.4);
  --grey-overlay: rgba(51,51,51,0.4);
}

*{
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--dark-grey);
}
/* NavBar */
.navBar{
  width: 100%;
  height: 70px;
  background-color: var(--dark-grey);
  border-bottom: 1px solid var(--neon-violet);
  text-align: center;
}
.navBar a{
  all: unset;
  color: var(--neon-violet);
}
.navBar p{
  display: inline-block;
  max-width: 300px;
  margin: 0 10px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  transition: 300ms;
  padding: 10px;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--grey);
}
.navBar p:hover, .navBar .active-link p:hover{
  background-color: var(--white-violet-overlay);
  text-shadow: 0 0 10px black;
}
.navBar .active-link p{
  background-color: var(--light-grey);
  text-shadow: 0 0 5px black;
  color: var(--dark-white);
}
/* Home page */
.homePage{
  text-align: center;
  user-select: none;
}
.homePage h1{
  font-size: 20vh;
  text-shadow: 0 30px 100px var(--neon-violet);
  transition: 300ms;
  margin: 20vh auto 3%;
  width: fit-content;
}
.homePage h1:hover{
  text-shadow: 0 30px 150px var(--neon-violet);
}
.homePage button{
  all: unset;
  margin: 10px;
  padding: 20px;
  border-radius: 40px;
  background-color: var(--neon-violet);
  font-weight: bolder;
  transition: 300ms;
}
.homePage button:hover{
  background-color: var(--white-violet);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.homePage button:active{
  background-color: var(--violet);
  cursor: default;
}